<div  class='palette' style='margin: 20px;'>
<% console.log(jar.get('user')) %>
<b> <a href='#/users/<%=jar.get('user').escape('id')%>'><img src="<%=jar.get('user').escape('avatar_url')%>/convert?w=40&h=40&fit=crop" class="rounded-photo"/><br>
<%= jar.get('user').escape('user_name')%> </a><br>
<%= jQuery.timeago(jar.escape("created_at"))  %>

<h3 style='text-align:center'> <%= jar.escape('title') %> </h3>

<ul style='list-style:none; background-color:#FFFFFF; width:440px; margin:auto; border-radius: 4px;' id="photocontent">
  <li class="tilespan0 my-well tile-small"  id="photocontent" style='overflow: hidden;'> <div class='photo-tile' data-id="0"></div></li>
  <li class="tilespan0 my-well tile-small" id="photocontent" style='overflow: hidden;'> <div class='photo-tile' data-id="1"></div></li>
  <li class="tilespan0 my-well tile-stretched" style='overflow: hidden;' id="photocontent"> <div class='photo-tile' data-id="2"></div></li>
  <div class='row'>
    <div class='span8'></div>
  </div>
</ul>
<br>
<ul>
<% jar.get('tags').each( function(tag) { %>
    <li style='list-style-type: none;  display: inline; padding-right: 10px;'><a href="#/tags/<%= tag.escape('name') %>" style='text-decoration: none;'><span class='tag-show'><%= tag.escape('name') + "  "%></span></a></li>
<% }) %>
</ul>
</div>